<div class="d-flex justify-content-center">
    <img id="main-logo" class="text-center d-block" src="/images/shopping-cart.png" alt="main logo">
  </div>
  <h1 class="text-center title">Dhahran E-Shopping</h1>