<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css"">

    <style>
      body {
        padding-top: 50px;
      }
      div.form-group.row input{
  /* margin-left: 60px; */
width: 93%;

}
div.form-group.row{
  margin-left: 120px;
}
div.form-group.row label{

  /* padding-left: 100px; */
}
    </style>
  </head>
  <body>
    <div class="white-head"></div>
    <div class="container" style="max-width: 100%;">
      
      <header>
        <%- include('../partials/header'); %>
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS Is Fun</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </nav> -->
      </header>

      <main>
        <div class="text-center p-4">
          <h1  class="mb-4 login">Register</h1>

          <div>
            <div class="d-inline-block  dots-at"></div>
            <div class="d-inline-block  dots-next"></div>
          </div>

          <div id='register-header' class="registration-header">
            <div class="">
              <div class="text-left tag">User Info</div>
              <div class="line mb-4"></div>
            </div>
          </div>
        <div 
        class="d-flex justify-content-center align-self-center "
        >
          <div class="reg-form">
            
          
          
          <form id="registration-form" onsubmit="register1(event)" >
            <div class="row">
              <div class="col-lg-12" style="margin-left: 30.8%;">
                <p style="color: red;">Invalid Melon</p>
              </div>
            </div>
            <div class="form-group row">
              <label
                for="username"
                class=" col-lg-3 col-form-label col-form-label-lg  "
                >Username</label
              >
              <div class="col-lg-9">

                <input
                  type="text"
                  class="form-control form-control-lg round-corners"
                  id="username"
                  placeholder="Abdulasammad"
                  required
                />
              </div>
            </div>
            <div class="row">
               <div class="col-lg-12" style="margin-left: 30.8%;">
                <p id='pass1' style="color: red; display: none;">Passwords doesn't Match</p>
              </div>
            </div>

            <div class="form-group row">
                <label for="password1" class="col-lg-3 col-form-label col-form-label-lg">Password</label>
                <div class="col-lg-9">
                  <!-- <p style="color: red;">Invalid Melon</p> -->

                  <input type="password" minlength="8" class="form-control round-corners passwordfield" id="password1" placeholder="Password"
                  required>
                </div>
            </div>
            <div class="row">
               <div class="col-lg-12" style="margin-left: 30.8%;">
                <p id='pass2' style="color: red; display: none;" >Passwords doesn't Match</p>
              </div>
            </div>

            <div class="form-group row">
              <label for="password2" class="col-lg-3 col-form-label col-form-label-lg">Confirm Password</label>
              <div class="col-lg-9">
                <!-- <p style="color: red;">Invalid Melon</p> -->

                <input type="password" minlength="8" class="form-control round-corners passwordfield" id="password2" placeholder="Confirm Password"
                required>
              </div>
            </div>
            <div class="row">
               <div class="col-lg-12" style="margin-left: 30.8%;">
                <p style="color: red;">Invalid Melon</p>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-lg-3 col-form-label col-form-label-lg ">Email</label>
              <div class="col-lg-9">
                <!-- <p style="color: red;">Invalid Melon</p> -->

                <input type="email" class="form-control form-control-lg round-corners" id="email" placeholder="example@hotmail.com"
                required>
              </div>
            </div>
            <div class="row">
               <div class="col-lg-12" style="margin-left: 30.8%;">
                <p style="color: red;">Invalid Melon</p>
              </div>
            </div>
            <div class="form-group row ">
              <label
                for="dob"
                class="col-lg-3 col-form-label col-form-label-lg pr-1 "
                >Date of birth</label
              >
              <div class="col-lg-9">
                <!-- <p style="color: red;">Invalid Melon</p> -->
                <input
                  type="date"
                  minlength="19"
                  maxlength="19"
                  class="form-control form-control-lg round-corners"
                  id="dob"
                  placeholder="example@hotmail.com"
                  min="1921-01-01"
                  
                  required
                  />
              </div>
            </div>
            <div class="row">
               <div class="col-lg-12" style="margin-left: 30.8%;">
                <p style="color: red;">Invalid Melon</p>
              </div>
            </div>
            <div class="form-group row">
              <label
                for="mobileNumber"
                class="col-lg-3 col-form-label col-form-label-lg pr-1 "
                >Mobile Number</label
              >
              <div class="col-lg-9">
                <!-- <p style="color: red;">Invalid Melon</p> -->
                <input
                  class="form-control form-control-lg round-corners"
                  id="mobileNumber"
                  placeholder="+966 XX XXX XXXX"
                  type="text" pattern="(\+)(\d*)" minlength="13" maxlength="13"
                  
                  oninput="mobileCheck(this.value);"

                  required
                />
              </div>
            </div>

            <!-- <div class="form-group row">
              <div class="col-sm">
                <button type="submit" class="btn btn-primary app-button" form="registration-form" >
                  Confirm Registeration
                </button>
              </div>
            </div> -->
          </form>
        </div>
        <div class="jumbotron password-rec text-center align-self-center"> 
          <p>
            <strong>Password Policy </strong>
            <br>
            <span id="char8">- Must be 8 Characters         at least.</span>
            <br>
            <span id="cap-small">- Must have at least one       capital letter and one small letter.</span>
            <br>
            <span id="symbols">- Must have a symbol.</span>
            <br>
            <span id="number">- Must have at least one number.</span>
          </p>
        </div>
        </div>
        <button  class="btn btn-primary app-button mt-4" form="registration-form" >
          Continue Registeration
        </button>
      </main>

      <footer>
        <p class="text-center text-muted">
          © Copyright 2021 The Awesome People
        </p>
      </footer>
    </div>
  </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>

function mobileCheck(mobileNumb){
  var validation2 = (mobileNumb[0] == "+");
  console.log(validation2)
  var correctNumber = ""
  if (validation2){
    var validation1 = mobileNumb.replace(/[^0-9]/g,'');
    correctNumber = "+" + validation1;
    $("#mobileNumber").val(correctNumber)
  }else{
    $("#mobileNumber").val('')
  }
}
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
yyyy = yyyy-15;
today = yyyy+'-'+mm+'-'+dd;
document.getElementById("dob").setAttribute("max", today);

function hasLowerCase(str) {
    return str.toUpperCase() != str;
}
function hasUpperCase(str) {
    return str.toLowerCase() != str;
}
     $('#password1, #password2').on('change', function() {
      var password1 = $("#password1").val();
      var password2 = $("#password2").val();
      if ( password1 !=password2){
          $('#pass1').show()
          $('#pass2').show()
        }else{
          $('#pass1').hide()
          $('#pass2').hide()
        }
        console.log(typeof(password1))
      if (password1.length < 8 && password2.length < 8){        
        $('#char8').css({ 'color': 'red' });
      }else{
        $('#char8').css({ 'color': 'black' });
      }
      if (hasLowerCase(password1) && hasUpperCase(password1) && hasLowerCase(password2) && hasUpperCase(password2)  ){
        $('#cap-small').css({ 'color': 'black' });
      }else{
        $('#cap-small').css({ 'color': 'red' });
      }
      var format = /[ `!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
      if ( format.test(password1) && format.test(password2)){
        $('#symbols').css({ 'color': 'black' });
      }else{
        $('#symbols').css({ 'color': 'red' });
      }
      var format2 = /[0-9]/;
      if ( format2.test(password1) && format2.test(password2)){
        $('#number').css({ 'color': 'black' });
      }else{
        $('#number').css({ 'color': 'red' });
      }
  // Does some stuff and logs the event to the console
});
      function register1(event) {
        // alert("The form was submitted");
        var mobile = $("#mobileNumber").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        var dob = $("#dob").val();
        var username = $('#username').val();
        var email = $('#email').val();
        alert(`The form was submitted \n ${ email } \n ${ password1 } \n ${username}`)

        if ( password1 !=password2){
          // return ;
        }

        fetch(`http://${window.location.hostname}:8002/register1`, {
          method: 'post',
          headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
          body: JSON.stringify({
        email: email,
        password: password1,
        dob,
        username,
        mobile
        })
        }).then(function(response) {
          return response.json();
        }).then(function(data) {
          if (data.status === 'success'){
            $('#error').remove()
          window.location = data.link
        } else {
          if ($('#error').length){
            $('#error').text(data.status)
          }else {
            $(`<p id="error" style="color: red;">${data.status}</p>`).insertAfter('#register-header')
          }
        }
        });
        alert(`The form was submitted \n ${ email } \n ${ password1 }`);
        
        event.preventDefault();
  }
        

      </script>
</html>
