<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css"">

    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="white-head"></div>
    <div class="container " style="max-width: 100%;">
      <header>
        <%- include('../partials/header'); %>
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS Is Fun</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </nav> -->
      </header>

      <main>
        <div class="text-center p-4">
          <h1 class="mb-4 login">Register</h1>
          
          <div class="">
            <div>
              <div class="d-inline-block  dots-done"></div>
              <div class="d-inline-block  dots-at"></div>
            </div>
            <div id="register-header" class="registration-header">
              <div class="">
                <div class="text-left tag">Card Info</div>
                <div class="line mb-4"></div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
          <form onsubmit="register2(event)">
            <div class="form-group row">
              <label
                for="cardNumber"
                class="col-sm-2 col-form-label col-form-label-lg pr-1 pl-2"
                >Card Number</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  mmin="1000000000000000000"
                  max="9999999999999999999"
                  class="form-control form-control-lg round-corners"
                  id="cardNumber"
                  placeholder="123456789123456789"
                  maxlength="19"
                  minlength="19"
                  pattern="(\d*)"
                  required
                />
              </div>
              <div class="col-sm-12">
                <img
                  class="mada"
                  src="images/payment-cards2-removebg-preview.png"
                  alt="Mada visa mastercard"
                />
              </div>
            </div>

            <div class="form-group row mb-0">
              <label
                for="doe"
                class="col-sm-2 col-form-label col-form-label-lg pr-1 pl-2"
                >Date of expiration</label
              >
              <div class="col-sm-10">
                <input
                  type="date"
                  minlength="19"
                  maxlength="19"
                  class="form-control form-control-lg round-corners"
                  id="doe"
                  placeholder="example@hotmail.com"
                  required
                />
              </div>
            </div>
            <div class="form-group row">
              <label
                for="cvv"
                class="col-sm-2 col-form-label col-form-label-lg pr-1 pl-2"
                >CVV</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  max="999"
                  class="form-control form-control-lg round-corners"
                  id="cvv"
                  placeholder="123"
                  maxlength="3"
                  minlength="3"
                  pattern="(\d*)"
                  required
                />
                
              </div>
            </div>
            <div class="form-group row">
              <label
                for="name"
                class="col-sm-2 col-form-label col-form-label-lg pr-1 pl-2"
                >Name on the Card</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control form-control-lg round-corners"
                  id="name"
                  placeholder="عبد الصمد ثلاجة"
                  required
                />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm">
                <button type="submit" class="btn btn-primary app-button">
                  Confirm Registeration
                </button>
              </div>
            </div>
          </form>
        </div>
        </div>
      </main>

      <footer>
        <p class="text-center text-muted">
          © Copyright 2021 The Awesome People
        </p>
      </footer>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script>
          function register2(event) {
            // alert("The form was submitted");
            var cardNumber = $("#cardNumber").val();
            var doe = $("#doe").val();
            var cvv = $("#cvv").val();
            var name = $("#name").val();
            alert(`The form was submitted \n ${ cardNumber } \n ${ doe } \n ${cvv}`)
    

    
            fetch(`http://${window.location.hostname}:8002/register2`, {
              method: 'post',
              headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
              body: JSON.stringify({
                cardNumber,
                doe,
                cvv,
                name,
            })
            }).then(function(response) {
              return response.json();
            }).then(function(data) {
              if (data.status === 'success'){
                $('#error').remove()
              window.location = data.link
            } else {
              if ($('#error').length){
                $('#error').text(data.status)
              }else {
                $(`<p id="error" style="color: red;">${data.status}</p>`).insertAfter('#register-header')
              }
            }
            });
            // alert(`The form was submitted \n ${ email } \n ${ password1 }`);
            
            event.preventDefault();
      }
            
    
          </script>
</html>
