<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" ">

    <style>
      body {
        padding-top: 50px;
      }
      input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    </style>
  </head>
  <body >
    <div class='white-head'></div>
    <div class="container " >
    <header>
    <%- include('../partials/header'); %>

    </header>

    <main>
      <div class="jumbotron text-center ">
        <h1 class="mb-4 login "">A 4 digit verification code has been sent to your Email </h1>
    <p style="color: red;">Invalid Medlon</p>
    <form onsubmit="digits(event)">
        <div class="form-group row twoAuth">
            <div class="col-sm-12">
                <div class="row justify-content-around">
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg1" style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg2" style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg3" style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg4" style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                </div>
            </div>
        </div>
        <p>
            If you don’t find the message in your inbox, please check the junk mail inbox.
        </p>
        <p style="color: red;">
            Resend Code
        </p>
        <div class="form-group row">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary app-button" ">Submit</button>
            </div>
        </div>
    </form>
    </div>
    </main>

    <footer>
        <p class="text-center text-muted">© Copyright 2021 The Awesome People</p>
    </footer>
    </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
        function digits(event) {
            var d1 = $("#colFormLabelLg1").val();
            var d2 = $("#colFormLabelLg2").val();
            var d3 = $("#colFormLabelLg3").val();
            var d4 = $("#colFormLabelLg4").val();
            var digits = d1 + '' + d2 + '' + d3 + '' + d4;
            console.log(digits)
            fetch(`http://${window.location.hostname}:8002/2fa/id`, {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    digits: digits
                })
            });
        }
    </script>

</html>