<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" ">

    <style>
      body {
        padding-top: 50px;
      }
      input[type='number'] {
    -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    a:hover{
        cursor: pointer;
    }
    .auth {
    /* border:    3px solid lightgray; */
    border-width: 3px;
        border-top: none;
    border-image: linear-gradient(180deg, rgba(213, 231, 238, 0.397), rgba(37, 2, 51, 0.123)) 1;

    }
    </style>
  </head>
  <body >
    <div class='white-head'></div>
    <div class="container " >
    <header>
    <%- include('../partials/header'); %>

    </header>

    <main>
      <div class="jumbotron text-center " id="container">
        <h1 class="mb-4 login " id="twoAuthHeader">A 4 digit verification code has been sent to your Email </h1>
    <!-- <p style="color: red;">Invalid Medlon</p> -->
    <form onsubmit="digits(event)">
        <div class="form-group row twoAuth">
            <div class="col-sm-12">
                <div class="row justify-content-around">
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2 auth" id="colFormLabelLg1" style="  background: rgba(0, 0, 0, 0); height: 190px; 
                outline: none;
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2 auth" id="colFormLabelLg2" style="  background: rgba(0, 0, 0, 0); height: 190px; 
                outline: none;
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2 auth" id="colFormLabelLg3" style="  background: rgba(0, 0, 0, 0); height: 190px; 
                outline: none;
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                    <input type="text" class="form-control form-control-lg round-corners col-sm-2 auth" id="colFormLabelLg4" style="  background: rgba(0, 0, 0, 0); height: 190px; 
                outline: none;
                " minlength="1" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                </div>
            </div>
        </div>
        <p>
            If you don’t find the message in your inbox, please check the junk mail inbox.
        </p>
       <a onclick="resend(event)" style="color: red; text-decoration: underline;
       ">
            Resend Code
        </a>
            <br>
            <timer id="timer">

            </timer>
       </a>
        <div class="form-group row">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary app-button" >Submit</button>
            </div>
        </div>
    </form>
    </div>
    </main>

    <footer>
        <p class="text-center text-muted ">© Copyright 2021 The Awesome People</p>
    </footer>
    </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script>
        var timeleftM = '<%= deadline.min %>';
        var timeleftS = '<%= deadline.sec %>';
        console.log(timeleftM, timeleftS)
        var timer = setInterval(function(){
        if(timeleftM <= 0 && timeleftS <= 0){
            console.log("innnnnnn")
            setTimeout(() => {
                alert("Your code session timedout, please log in again")
                 $("#timer").text(`Please Re-login`);
                window.location = '/login'
                }, 1000);
            clearInterval(timer);
        }
        if (timeleftS <= 0 && timeleftM > 0){
            timeleftM -= 1;
            timeleftS = 60;
        }
        timeleftS -= 1;
        if ( timeleftS < 10){
            timeleftS = "0"+timeleftS
        }
        $("#timer").text(`${timeleftM} : ${timeleftS}`)
        // document.getElementById("progressBar").value = 10 - timeleft;
        // timeleft -= 1;
        }, 1000);

        function resend(event){
            var link = window.location.href.split('/');
            console.log(link)
            // this is what you should link for 
            console.log(link[link.length-1])
            fetch(`http://${window.location.hostname}:8002/2fa/${link[link.length-1]}`, {
                method: 'put',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: null
            }).then(function(response) {
                return response.json();
                }).then(function(data) {
                    // console.log(data)
               if (data.status === 'Incorrect Pin Number'){
                    $('#error').remove()
                window.location = data.link
                } else {
                if ($('#error').length){
                    $('#error').text(data.status)
                }else {
                    $(`<p id="error" style="color: red;">${data.status}</p>`).insertAfter('#twoAuthHeader')
                }
                }
                });
            event.preventDefault();
        }
        
        function digits(event) {
            var d1 = $("#colFormLabelLg1 ").val();
            var d2 = $("#colFormLabelLg2 ").val();
            var d3 = $("#colFormLabelLg3 ").val();
            var d4 = $("#colFormLabelLg4 ").val();
            var digits = d1 + '' + d2 + '' + d3 + '' + d4;

            var link = window.location.href.split('/');
            console.log(digits)
            console.log(link)
            // this is what you should link for 
            console.log(link[link.length-1])
            fetch(`http://${window.location.hostname}:8002/2fa/${link[link.length-1]}`, {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    digits: digits
                })
            }).then(function(response) {
                return response.json();
                }).then(function(data) {
                if (data.status === 'success'){
               
                $('#container').text(``)
                $('#container').append(`<h1> Welcome, <span style="color: palevioletred;">${data.username} </span> </h1>`)
                alert("success")
                }else {
                    if ($('#error').length){
                        $('#error').text(data.status)
                    }else {
                        $(`<p id="error" style="color: red;">${data.status}</p>`).insertAfter('#twoAuthHeader')
                    }
                }
                });
            event.preventDefault();
        }
    </script>

</html>