<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"">

    <style>
      body {
        padding-top: 50px;
      }
      input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
    </style>
  </head>
  <body >
    <div class='white-head'></div>
    <div class="container" >
    <header>
    <%- include('../partials/header'); %>

    </header>

    <main>
      <div class="jumbotron  text-center">
        <h1 class="mb-4 login "">A 4 digit verification code has been sent to your Email </h1>
        <p style="color: red;">Invalid Medlon</p>
        <form>
            <div class="form-group row twoAuth">
                <div class="col-sm-12">
                    <div class="row justify-content-around">
                  <input type="text" 
                  class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg" 
                style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                "  
                  minlength="1"
                  maxlength="1"
                  oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                  
                  >
                  <input type="text" 
                  class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg" 
                style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                "
                 minlength="1"
                 maxlength="1"
                 oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                  >
                  <input type="text" 
                  class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg" 
                style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                "
                  minlength="1"
                  maxlength="1"
                  oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                  >
                  <input type="text" 
                  class="form-control form-control-lg round-corners col-sm-2" id="colFormLabelLg" 
                style="  background: rgba(0, 0, 0, 0); height: 190px; border: none;
                outline: none;
                border-bottom: 2px solid lightgrey; 
                "
                  minlength="1"
                  maxlength="1"
                  oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                  >
                </div>
                </div>
            </div>
            <p>
                If you don’t find the message in your inbox, please check the junk mail inbox. 
            </p>
            <p style="color: red;">
                Resend Code
            </p>
            <div class="form-group row">
                <div class="col-sm">
                  <button type="submit" class="btn btn-primary app-button" >Submit</button>
                </div>
            </div>
          </form>
      </div>
    </main>

    <footer>
      <p class="text-center text-muted">© Copyright 2021 The Awesome People</p>
    </footer>
  </div>
  </body>
</html>

