<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" ">

    <style>
    
    </style>
  </head>
  <body >
    <div class='white-head'></div>
    <div class="container " >
    <header>
    <%- include('../partials/header'); %>

    </header>

    <main>
      <div class="jumbotron text-center " id="container">
        <h1> Welcome, <span style="color: palevioletred;"> Welcome, Name </span> </h1>
                <button type="submit" class="btn btn-primary app-button" >logout</button>

      </div>
    </main>

    <footer>
        <p class="text-center text-muted ">© Copyright 2021 The Awesome People</p>
    </footer>
    </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script>
      
    </script>

</html>